<html>
{% load static %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>{% block title %}Crypto Exchange Compare{% endblock %}</title>
  <style>
      tr[TYPE='SELL'] {
            background-color: #9b4646;
      }
      tr[TYPE='BUY'] {
            background-color: #528b47;
      }
      .full-width {
          width: 100vw;
          height: 1px;
      }
  </style>
</head>
<body>
  <h1 ALIGN="center">{% block header %}{% endblock %}</h1>

  <div class="full-width">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% if not user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'signup' %}">Signup</a>
      </li>
        {% else %}
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'password_reset' %}">Reset Password</a>
      </li>
        {% endif %}
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exchange Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
{#          <a class="dropdown-item" href="{% url 'transaction' %}">Transactions</a>#}
          <a class="dropdown-item" href="{% url 'account' %}">Manage Accounts</a>
          <a class="dropdown-item" href="{% url 'pandl' %}">Manage Profit and Loss</a>
          <a class="dropdown-item" href="{% url 'orderbooks' %}">Accumulative Orderbooks</a>
          <a class="dropdown-item" href="{% url 'choices' %}">Trade</a>
        </div>
      </li>
        {% if user.is_authenticated %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>
  </div>

  <main>
    {% block content %}
    {% endblock %}
  </main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>