{% extends 'base.html' %}
{% load bootstrap4 %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% block content %}
    <body class="row justify-content-center">
  <h2>Profile</h2>
<div ALIGN="center">
<img src="{{ MEDIA_URL }}{{ person.profile_image }}" width="150" height="120">
<br> <br>
{{ person.first_name }} {{ person.last_name }}
<br> <br>
<form ALIGN=CENTER method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    Accounts: <button><a href="{% url 'account' %}">Manage Accounts</a></button>
    <br>
    Profits and Losses: <button><a href="{% url 'pandl' %}">Manage P/Ls</a></button>
    <br>
    <button type="submit">Submit</button>
</form>
</div>
    </body>
{% endblock %}